# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Additional Files
**/saved_diff_models
**/saved_latent_models
*.pt
saved_consistency_models/roc/2024-05-10_21-46-10/args.json
saved_consistency_models/roc/2024-05-10_21-46-10/wandb/latest-run
saved_consistency_models/roc/2024-05-10_21-46-10/wandb/run-20240510_214612-fijapxz3/run-fijapxz3.wandb
saved_consistency_models/roc/2024-05-10_21-46-10/wandb/run-20240510_214612-fijapxz3/files/config.yaml
saved_consistency_models/roc/2024-05-10_21-46-10/wandb/run-20240510_214612-fijapxz3/files/requirements.txt
saved_consistency_models/roc/2024-05-10_21-46-10/wandb/run-20240510_214612-fijapxz3/files/wandb-metadata.json
saved_consistency_models/roc/2024-05-10_21-46-10/wandb/run-20240510_214612-fijapxz3/files/wandb-summary.json
saved_consistency_models/roc/2024-05-10_21-52-04/args.json
saved_consistency_models/roc/2024-05-10_21-52-04/wandb/latest-run
saved_consistency_models/roc/2024-05-10_21-52-04/wandb/run-20240510_215206-659ns6du/run-659ns6du.wandb
saved_consistency_models/roc/2024-05-10_21-52-04/wandb/run-20240510_215206-659ns6du/files/config.yaml
saved_consistency_models/roc/2024-05-10_21-52-04/wandb/run-20240510_215206-659ns6du/files/requirements.txt
saved_consistency_models/roc/2024-05-10_21-52-04/wandb/run-20240510_215206-659ns6du/files/wandb-metadata.json
saved_consistency_models/roc/2024-05-10_21-52-04/wandb/run-20240510_215206-659ns6du/files/wandb-summary.json
saved_consistency_models/roc/2024-05-10_21-54-31/args.json
saved_consistency_models/roc/2024-05-10_21-54-31/beam-sample-1.txt
saved_consistency_models/roc/2024-05-10_21-54-31/wandb/latest-run
saved_consistency_models/roc/2024-05-10_21-54-31/wandb/run-20240510_215433-2avlsydt/run-2avlsydt.wandb
saved_consistency_models/roc/2024-05-10_21-54-31/wandb/run-20240510_215433-2avlsydt/files/config.yaml
saved_consistency_models/roc/2024-05-10_21-54-31/wandb/run-20240510_215433-2avlsydt/files/requirements.txt
saved_consistency_models/roc/2024-05-10_21-54-31/wandb/run-20240510_215433-2avlsydt/files/wandb-metadata.json
saved_consistency_models/roc/2024-05-10_21-54-31/wandb/run-20240510_215433-2avlsydt/files/wandb-summary.json
saved_consistency_models/roc/2024-05-10_21-54-31/wandb/run-20240510_215433-2avlsydt/files/media/table/model/beam/samples_5000_5ad6dd62de21a191d222.table.json
saved_consistency_models/roc/2024-05-10_23-03-42/args.json
saved_consistency_models/roc/2024-05-10_23-03-42/beam-sample-2.txt
saved_consistency_models/roc/2024-05-10_23-03-42/beam-sample-3.txt
saved_consistency_models/roc/2024-05-10_23-03-42/beam-sample-4.txt
saved_consistency_models/roc/2024-05-10_23-03-42/beam-sample-5.txt
saved_consistency_models/roc/2024-05-10_23-03-42/beam-sample-6.txt
saved_consistency_models/roc/2024-05-10_23-03-42/beam-sample-7.txt
saved_consistency_models/roc/2024-05-10_23-03-42/beam-sample-8.txt
saved_consistency_models/roc/2024-05-10_23-03-42/beam-sample-9.txt
saved_consistency_models/roc/2024-05-10_23-03-42/beam-sample-10.txt
saved_consistency_models/roc/2024-05-10_23-03-42/beam-sample-11.txt
saved_consistency_models/roc/2024-05-10_23-03-42/beam-sample-12.txt
saved_consistency_models/roc/2024-05-10_23-03-42/beam-sample-13.txt
saved_consistency_models/roc/2024-05-10_23-03-42/beam-sample-14.txt
saved_consistency_models/roc/2024-05-10_23-03-42/beam-sample-15.txt
saved_consistency_models/roc/2024-05-10_23-03-42/beam-sample-16.txt
saved_consistency_models/roc/2024-05-10_23-03-42/beam-sample-17.txt
saved_consistency_models/roc/2024-05-10_23-03-42/beam-sample-18.txt
saved_consistency_models/roc/2024-05-10_23-03-42/beam-sample-19.txt
saved_consistency_models/roc/2024-05-10_23-03-42/beam-sample-20.txt
saved_consistency_models/roc/2024-05-10_23-03-42/beam-sample-21.txt
saved_consistency_models/roc/2024-05-10_23-03-42/beam-sample-22.txt
saved_consistency_models/roc/2024-05-10_23-03-42/beam-sample-23.txt
saved_consistency_models/roc/2024-05-10_23-03-42/beam-sample-24.txt
saved_consistency_models/roc/2024-05-10_23-03-42/beam-sample-25.txt
saved_consistency_models/roc/2024-05-10_23-03-42/beam-sample-26.txt
saved_consistency_models/roc/2024-05-10_23-03-42/beam-sample-27.txt
saved_consistency_models/roc/2024-05-10_23-03-42/beam-sample-28.txt
saved_consistency_models/roc/2024-05-10_23-03-42/beam-sample-29.txt
saved_consistency_models/roc/2024-05-10_23-03-42/beam-sample-30.txt
saved_consistency_models/roc/2024-05-10_23-03-42/beam-sample-31.txt
saved_consistency_models/roc/2024-05-10_23-03-42/beam-sample-32.txt
saved_consistency_models/roc/2024-05-10_23-03-42/beam-sample-33.txt
saved_consistency_models/roc/2024-05-10_23-03-42/beam-sample-34.txt
saved_consistency_models/roc/2024-05-10_23-03-42/beam-sample-35.txt
saved_consistency_models/roc/2024-05-10_23-03-42/beam-sample-36.txt
saved_consistency_models/roc/2024-05-10_23-03-42/beam-sample-37.txt
saved_consistency_models/roc/2024-05-10_23-03-42/beam-sample-38.txt
saved_consistency_models/roc/2024-05-10_23-03-42/wandb/latest-run
saved_consistency_models/roc/2024-05-10_23-03-42/wandb/run-20240510_230343-vq7q8ih3/run-vq7q8ih3.wandb
saved_consistency_models/roc/2024-05-10_23-03-42/wandb/run-20240510_230343-vq7q8ih3/files/config.yaml
saved_consistency_models/roc/2024-05-10_23-03-42/wandb/run-20240510_230343-vq7q8ih3/files/requirements.txt
saved_consistency_models/roc/2024-05-10_23-03-42/wandb/run-20240510_230343-vq7q8ih3/files/wandb-metadata.json
saved_consistency_models/roc/2024-05-10_23-03-42/wandb/run-20240510_230343-vq7q8ih3/files/wandb-summary.json
saved_consistency_models/roc/2024-05-10_23-03-42/wandb/run-20240510_230343-vq7q8ih3/files/media/table/model/beam/samples_10000_db1557b4383b3679e9b8.table.json
saved_consistency_models/roc/2024-05-10_23-03-42/wandb/run-20240510_230343-vq7q8ih3/files/media/table/model/beam/samples_15000_efdf46e47bd95818475e.table.json
saved_consistency_models/roc/2024-05-10_23-03-42/wandb/run-20240510_230343-vq7q8ih3/files/media/table/model/beam/samples_20000_87bea297e5591a013fef.table.json
saved_consistency_models/roc/2024-05-10_23-03-42/wandb/run-20240510_230343-vq7q8ih3/files/media/table/model/beam/samples_25000_3e75235f972f77902c23.table.json
saved_consistency_models/roc/2024-05-10_23-03-42/wandb/run-20240510_230343-vq7q8ih3/files/media/table/model/beam/samples_30000_830eefb83c38e494aa01.table.json
saved_consistency_models/roc/2024-05-10_23-03-42/wandb/run-20240510_230343-vq7q8ih3/files/media/table/model/beam/samples_35000_c40d1a5425e7d85da8b0.table.json
saved_consistency_models/roc/2024-05-10_23-03-42/wandb/run-20240510_230343-vq7q8ih3/files/media/table/model/beam/samples_40000_03ca0abbd9256b744103.table.json
saved_consistency_models/roc/2024-05-10_23-03-42/wandb/run-20240510_230343-vq7q8ih3/files/media/table/model/beam/samples_45000_26cd46efffa80927318f.table.json
saved_consistency_models/roc/2024-05-10_23-03-42/wandb/run-20240510_230343-vq7q8ih3/files/media/table/model/beam/samples_50000_4ccf57629badf17c7831.table.json
saved_consistency_models/roc/2024-05-10_23-03-42/wandb/run-20240510_230343-vq7q8ih3/files/media/table/model/beam/samples_55000_138d52548e8ed4480381.table.json
saved_consistency_models/roc/2024-05-10_23-03-42/wandb/run-20240510_230343-vq7q8ih3/files/media/table/model/beam/samples_60000_4378544eb9fd92137583.table.json
saved_consistency_models/roc/2024-05-10_23-03-42/wandb/run-20240510_230343-vq7q8ih3/files/media/table/model/beam/samples_65000_f5fea83cdb111da0d9da.table.json
saved_consistency_models/roc/2024-05-10_23-03-42/wandb/run-20240510_230343-vq7q8ih3/files/media/table/model/beam/samples_70000_5945533755f3fe04e4de.table.json
saved_consistency_models/roc/2024-05-10_23-03-42/wandb/run-20240510_230343-vq7q8ih3/files/media/table/model/beam/samples_75000_9da5eda0e786102b114d.table.json
saved_consistency_models/roc/2024-05-10_23-03-42/wandb/run-20240510_230343-vq7q8ih3/files/media/table/model/beam/samples_80000_7d4e1ec690da3003602e.table.json
saved_consistency_models/roc/2024-05-10_23-03-42/wandb/run-20240510_230343-vq7q8ih3/files/media/table/model/beam/samples_85000_65f6ddd65e117bdb7a80.table.json
saved_consistency_models/roc/2024-05-10_23-03-42/wandb/run-20240510_230343-vq7q8ih3/files/media/table/model/beam/samples_90000_b6408a7286b1d42496d7.table.json
saved_consistency_models/roc/2024-05-10_23-03-42/wandb/run-20240510_230343-vq7q8ih3/files/media/table/model/beam/samples_95000_e4387340f77aadc9189d.table.json
saved_consistency_models/roc/2024-05-10_23-03-42/wandb/run-20240510_230343-vq7q8ih3/files/media/table/model/beam/samples_100000_6d846beb224271b5e19b.table.json
saved_consistency_models/roc/2024-05-10_23-03-42/wandb/run-20240510_230343-vq7q8ih3/files/media/table/model/beam/samples_105000_a864deab53b3ab757171.table.json
saved_consistency_models/roc/2024-05-10_23-03-42/wandb/run-20240510_230343-vq7q8ih3/files/media/table/model/beam/samples_110000_5f93c752b51f062939da.table.json
saved_consistency_models/roc/2024-05-10_23-03-42/wandb/run-20240510_230343-vq7q8ih3/files/media/table/model/beam/samples_115000_01adece343996400fa37.table.json
saved_consistency_models/roc/2024-05-10_23-03-42/wandb/run-20240510_230343-vq7q8ih3/files/media/table/model/beam/samples_120000_d8b5f48e658d73a310db.table.json
saved_consistency_models/roc/2024-05-10_23-03-42/wandb/run-20240510_230343-vq7q8ih3/files/media/table/model/beam/samples_125000_1309d7339c29a369e9b7.table.json
saved_consistency_models/roc/2024-05-10_23-03-42/wandb/run-20240510_230343-vq7q8ih3/files/media/table/model/beam/samples_130000_5533a0e3dd505d8505ee.table.json
saved_consistency_models/roc/2024-05-10_23-03-42/wandb/run-20240510_230343-vq7q8ih3/files/media/table/model/beam/samples_135000_28ff0755742d6cbeb9d5.table.json
saved_consistency_models/roc/2024-05-10_23-03-42/wandb/run-20240510_230343-vq7q8ih3/files/media/table/model/beam/samples_140000_59f267045e1ff323b168.table.json
saved_consistency_models/roc/2024-05-10_23-03-42/wandb/run-20240510_230343-vq7q8ih3/files/media/table/model/beam/samples_145000_ce8549cc65abd049fcc9.table.json
saved_consistency_models/roc/2024-05-10_23-03-42/wandb/run-20240510_230343-vq7q8ih3/files/media/table/model/beam/samples_150000_97ec57a376ec54153bd6.table.json
saved_consistency_models/roc/2024-05-10_23-03-42/wandb/run-20240510_230343-vq7q8ih3/files/media/table/model/beam/samples_155000_98fb423d66df62a5aafd.table.json
saved_consistency_models/roc/2024-05-10_23-03-42/wandb/run-20240510_230343-vq7q8ih3/files/media/table/model/beam/samples_160000_597d3a10931b3bdc034a.table.json
saved_consistency_models/roc/2024-05-10_23-03-42/wandb/run-20240510_230343-vq7q8ih3/files/media/table/model/beam/samples_165000_a32460c2165b8b1b7df4.table.json
saved_consistency_models/roc/2024-05-10_23-03-42/wandb/run-20240510_230343-vq7q8ih3/files/media/table/model/beam/samples_170000_9cd4f301c169f6ab954f.table.json
saved_consistency_models/roc/2024-05-10_23-03-42/wandb/run-20240510_230343-vq7q8ih3/files/media/table/model/beam/samples_175000_927e5c49ff8914043937.table.json
saved_consistency_models/roc/2024-05-10_23-03-42/wandb/run-20240510_230343-vq7q8ih3/files/media/table/model/beam/samples_180000_259c556ca004d3815329.table.json
saved_consistency_models/roc/2024-05-10_23-03-42/wandb/run-20240510_230343-vq7q8ih3/files/media/table/model/beam/samples_185000_9458b8e503c8b50716e7.table.json
saved_consistency_models/roc/2024-05-10_23-03-42/wandb/run-20240510_230343-vq7q8ih3/files/media/table/model/beam/samples_190000_60bf60470b7a811c8ed7.table.json
